body {
  background-color: #fff;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

::selection {
  background: #a99aa9;
  color: #effeef;
}

h1,h2,h3,h4 {
  font-weight: lighter;
  line-height: 1em;
  padding: 0;
  margin: 0;
  color: #333;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus,
a:active  {
  color: #fff;
  text-decoration: none;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
  opacity: .5;
  filter: alpha(opacity=.5);
}

a:visited {
  text-decoration: underline;
}



#header {
  z-index: 1;
  position: fixed;
  height: 115px;
  background: #f9f9f9;
  border-bottom: 1px solid #a9a9a9;
  width: 100%;
}

#ctugLogo {
  background: url(../images/header/logo-horizontal.png) no-repeat;
  background-size: contain;
  width: 350px;
  display: block;
  float: left;
  margin: 40px 0 -35px 15px;
  text-indent: -9999px;
}

#blockSocialButtons {
  float: left;
  margin: 36px 15px 0 35px;
}

#blockSocialButtons ul {
  padding: 0;
  margin: 0;
}

#blockSocialButtons ul li {
  display: inline;
}

#blockSocialButtons ul li a {
  padding: 1px 8px;
  display: inline-block;
  font-size: 28px;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
  margin-right: 6px;
}

#blockSocialButtons ul li a:hover {
  opacity: .5;
  filter: alpha(opacity=.5);
}

#blockSocialButtons .eventbrite-logo,
#blockSocialButtons .eventbrite-logo:hover  {
  background: url(../images/header/eventbrite-white.png);
  background-repeat: no-repeat;
  top: 7px;
  left: 7px;
}

#blockSocialButtons .gitter-logo,
#blockSocialButtons .gitter-logo:hover  {
  background: url(../images/header/gitter-white.png);
  background-repeat: no-repeat;
  top: 7px;
  left: 7px;
}

#blockSocialButtons span {
  position: absolute;
  text-indent: -9999px;
}

#blockChooseLanguage {
  position: absolute;
  top: 6px;
  right: 15px;
}

#blockChooseLanguage ul {
  padding: 0;
  margin: 0;
}

#blockChooseLanguage ul li {
  list-style: none;
  display: inline;
}

#blockChooseLanguage ul li a {
  display: inline-block;
  font-family: 'Titillium Web',sans-serif;
  text-transform: uppercase;
  color: #a9a9a9;
  font-size: 16px;
  padding: 3px 12px;
  line-height: 21px;
  border: 1px solid transparent;
  cursor: pointer;
  float: left;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
}

#blockChooseLanguage ul li.active a,
#blockChooseLanguage ul li a:active {
  border: 1px solid #9cb124;
  color: #9cb124;
  text-decoration: none;
}

#blockChooseLanguage ul li a:hover {
  border: 1px solid #595959;
  color: #595959;
  text-decoration: none;
}

#menuToggle {
  display: none;
}

#navigationMenu {
  position: absolute;
  top: 85px;
  left: 0;
}

#navigationMenu h1 {
  text-indent: -9999px;
}

#navigationMenu ul {
  padding: 0;
  margin: 0;
}

#navigationMenu ul li {
  display: inline;
}

#navigationMenu ul li a {
  display: inline-block;
  font-family: 'Titillium Web',sans-serif;
  text-transform: uppercase;
  color: #9cb124;
  font-size: 16px;
  padding: 0 20px;
  line-height: 25px;
  border: 0;
  cursor: pointer;
  float: left;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
}

#navigationMenu ul li.active a,
#navigationMenu ul li a:active,
#navigationMenu ul li a:hover {
  color: #595959;
  text-decoration: none;
}



#main {
  position: relative;
  padding-top: 115px;
}

.banner-section {
  height: 350px;
  position: relative;
  background: url(../images/section-about/banner.jpg) no-repeat;
  background-position: 0 50%;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 330px;
  width: 98%;
  max-width: 480px;
  position: absolute;
  top: 10px;
  left: 1%;
}

.row-section {
  padding: 25px 0;
  background: #fff;
  color: #fff;
}

.row-section.white,
.row-section.white .section-title,
.row-section.white .block-title,
.row-section.white p,
.row-section.white .section-title a,
.row-section.white .block-title a,
.row-section.white p a {
  color: #333;
}

.row-section.green {
  background: #207a20;
}

.row-section.fucsia {
  background: #ca1856;
}

.row-section.darkred{
  background: #A61818;
}

.row-section.gray {
  background: #333;
}

.section-title {
  text-align: center;
  font-family: 'Titillium Web',sans-serif;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.banner-section .section-title {
  position: relative;
  display: inline-block;
  max-width: 450px;
  margin: 10px 0 0 5px;
  padding: 0;
  border: none;
  font: normal 35px/normal "Audiowide", Helvetica, sans-serif;
  color: #effeef;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 10px rgba(200,200,200,1) , 0 0 20px rgba(200,200,200,0.5) , 0 0 30px rgba(200,200,200,0.5);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#eventTypes .section-title {
  margin-bottom: 0;
}

.section-subtitle {
  text-align: center;
  font-family: 'Titillium Web',sans-serif;
  font-size: 25px;
  color: #fff;
  text-transform: none;
  margin-bottom: 25px;
  margin-top: -20px;
}

.block-item {
  padding-bottom: 40px;
}

.block-title {
  font-family: 'Titillium Web',sans-serif;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-transform: none;
}

#pastEvents .block-title {
  white-space: nowrap;
}

.row-section.green .block-title .highlight {
  color: #0f0;
}

.block-text {
  padding: 0;
  margin: 8px 0 25px 0;
  line-height: 1.4em;
  font-family: 'Titillium Web',sans-serif;
}

.row-section.green .block-text .highlight {
  color: #0f0;
}

.banner-section .block-text {
  padding: 5px 20px;
  font-family: 'Titillium Web',sans-serif;
  font-size: 16px;
  color: #fff;
  max-width: 500px;
}

.banner-section .block-text p {
  padding: 4px 0;
  margin: 0;
  line-height: 1.6em;
}

.block-info {
  font-size: 16px;
  padding: 5px 0;
}

.figure {
  position: relative;
}

.figure.pull-left {
  margin-right: 15px;
}

.figure img {
  width: 100%;
  border: 1px solid #fff;
  margin: 8px 0;
}

.figure img:hover {
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
  opacity: .5;
  filter: alpha(opacity=.5);
}

.figure .block-info {
  text-transform: uppercase;
  padding: 1px 10px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 1px;
  right: 1px;
  font-size: 14px;
}

.figure .block-info.top {
  top: 9px;
}

.figure .block-info.bottom {
  bottom: 9px;
}

.figure .block-info.invisible {
  display: none;
}

.link-btn {
  display: inline-block;
  padding: 4px 12px;
  line-height: 25px;
  font-family: 'Titillium Web',sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  webkit-backface-visibility: hidden;
  text-align: center;
  width: 86px;
}

.link-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.link-btn.white:hover {
  border: 1px solid transparent;
}

.link-btn.black {
  border: 1px solid #000;
  color: #000;
}

.link-btn.black:hover {
  border: 1px solid transparent;
}

.goto-github {
  padding: 2px;
}



#footer {
  min-height: 70px;
  background: #fff;
  padding-top: 25px;
}
  
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .col-xl-3 {
    width: 16.666667%;
  }
}

@media (min-width: 701px) {
  .collapse {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 700px) {
  #ctugLogo {
    margin: 20px 0 -35px 15px;
  }

  #blockSocialButtons {
    white-space: nowrap;
    margin: 70px 15px 0 20px;
    position: absolute;
  }

  #blockChooseLanguage {
    top: 18px;
    right: 14%;
  }

  #menuToggle {
    display: block;
    position: absolute;
    top: 16px;
    right: 20px;
    font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3em;
    padding: 5px 12px;
    line-height: 21px;
    background: #333;
  }

  #menuToggle span {
    position: absolute;
    text-indent: -9999px;
  }

  #navigationMenu {
    top: 49px;
    left: auto;
    right: 20px;
    background: #333;
    border-radius: 4px;
  }

  #navigationMenu h1 {
    display: none;
  }

  #navigationMenu ul li {
    display: block;
  }

  #navigationMenu ul li a {
    color: #fff;
    border: 1px solid #bcdecb;
    border-top: 0;
    padding: 5px 35px;
    width: 100%;
  }

  #navigationMenu ul li:first-child a {
    border-top: 1px solid #bcdecb;
    border-radius: 4px 4px 0 0;
  }

  #navigationMenu ul li:last-child a {
    border-radius: 0 0 4px 4px;
  }
}

@media (max-width: 500px) {
  .col-xs-6 {
    margin-left: 10%;
    width: 80%;
  }

  #ctugLogo {
    background: url(../images/header/logo-square.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    height: 58px;
  }

  #blockChooseLanguage {
    right: 25%;
  }

  .banner-section .block-text {
    margin-top: -3px;
    font-size: 13px;
  }

  .banner-section .block-text p {
    line-height: 1.2em;
  }
}