body {
	background-color: #fff;
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	color: #333;
	overflow-x: hidden;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}

::selection {
	background: #a99aa9;
	color: #effeef;
}

h1,h2,h3,h4 {
	font-weight: lighter;
	line-height: 1em;
	padding: 0;
	margin: 0;
	color: #333;
}

img {
	max-width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus,
a:active  {
	color: #fff;
	text-decoration: none;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
	opacity: .5;
	filter: alpha(opacity=.5);
}

a:visited {
  color: #e6e7ab;
}

#header {
  z-index: 1;
	position: fixed;
	height: 100px;
  background: #f9f9f9;
	border-bottom: 1px solid #a9a9a9;
	width: 100%;
}

#header #menuToggle {
	display: none;
}

#header #ctug-logo {
	background: url(../images/header/logo.png) no-repeat;
	width: 350px;
	height: 50px;
	display: block;
	float: left;
	margin: 40px 0 -35px 15px;
	text-indent: -9999px;
}

#header #block-social-buttons {
  float: left;
	margin: 35px 15px 0 36px;
}

#header #block-social-buttons ul {
	padding: 0;
	margin: 0;
}

#header #block-social-buttons ul li {
	display: inline;
}

#header #block-social-buttons ul li a {
  padding: 1px 8px;
	display: inline-block;
  font-size: 28px;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
	margin-right: 6px;
}

#header #block-social-buttons ul li a:hover {
	opacity: .5;
	filter: alpha(opacity=.5);
}

#header #block-social-buttons .eventbrite-logo,
#header #block-social-buttons .eventbrite-logo:hover  {
  background: url(../images/header/eventbrite-white.png);
  background-repeat: no-repeat;
  top: 7px;
  left: 7px;
}

@media (max-width: 700px) {
  #header #ctug-logo {
    margin: 9px 0 -35px 15px;
  }
  
  #header #block-social-buttons {
    white-space: nowrap;
    margin: 55px 15px 0 36px;
    position: absolute;
    left: 0;
  }
}

#header #block-social-buttons span {
  position: absolute;
  text-indent: -9999px;
}

#header #block-choose-languages {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 6px;
	margin-right: 15px;
}

@media (max-width: 450px) {
  #header #block-choose-languages {
    display: none;
  }
}

#header #block-choose-languages ul {
	padding: 0;
	margin: 0;
}

#header #block-choose-languages ul li {
	list-style: none;
	display: inline;
}

#header #block-choose-languages ul li a {
	display: inline-block;
	font-family: 'Titillium Web',sans-serif;
	text-transform: uppercase;
	color: #a9a9a9;
	font-size: 16px;
	padding: 3px 12px 0;
	line-height: 20px;
	border: 1px solid transparent;
	cursor: pointer;
	float: left;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
}

#header #block-choose-languages ul li.active a,
#header #block-choose-languages ul li a:active {
	border: 1px solid #9cb124;
  color: #9cb124;
}

#header #block-choose-languages ul li a:hover {
	border: 1px solid #595959;
  color: #595959;
	text-decoration: none;
}

#header #menu {
	position: absolute;
	top: 0;
	right: 0;
	margin: 40px 0 0;
}

#header #menu ul {
	padding: 0;
	margin: 0;
}

#header #menu ul li {
	display: inline;
}

#header #menu ul li a {
	display: inline-block;
	font-family: 'Titillium Web',sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	padding: 4px 12px 0;
	line-height: 25px;
	border: 1px solid #9cb124;
	cursor: pointer;
	float: left;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
}

#header #menu ul li a.active,#header #menu ul li a:hover {
	border: 1px solid #fff;
	text-decoration: none;
}

#main {
	position: relative;
  padding-top: 100px;
}

.banner-section {
	height: 350px;
	position: relative;
	background: url(../images/section-about/banner.jpg) no-repeat;
  background-position: 0 50%;
	background-size: cover;
}

.row-section {
	padding: 25px 0;
	background: #fff;
	color: #fff;
}

.row-section.white,
.row-section.white .section-title,
.row-section.white .block-title,
.row-section.white p,
.row-section.white .section-title a,
.row-section.white .block-title a,
.row-section.white p a {
	color: #333;
}

.row-section.green {
	background: #9cb124;
}

.row-section.fucsia {
	background: #ca1856;
}

.row-section.darkred{
	background: #A61818;
}

.row-section.gray {
	background: #333;
}

.section-title {
	text-align: center;
	font-family: 'Titillium Web',sans-serif;
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.banner-section .section-title {
  display: inline-block;
  width: 450px;
	margin: 10px 0 0 5px;
  padding: 0;
  border: none;
  font: normal 35px/normal "Audiowide", Helvetica, sans-serif;
  color: #effeef;
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 0 10px rgba(200,200,200,1) , 0 0 20px rgba(200,200,200,0.5) , 0 0 30px rgba(200,200,200,0.5);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#eventTypes .section-title {
	margin-bottom: -5px;
}

.section-subtitle {
	text-align: center;
	font-family: 'Titillium Web',sans-serif;
	font-size: 25px;
	color: #fff;
	text-transform: none;
	margin-bottom: 25px;
	margin-top: -20px;
}

.block-title {
	text-align: center;
	font-family: 'Titillium Web',sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.block-text {
  padding: 13px 0 25px 0;
	margin: 0;
	line-height: 1.4em;
  font-family: 'Titillium Web',sans-serif;
}

.banner-section .block-text {
	padding: 5px 20px;
  font-family: 'Titillium Web',sans-serif;
  font-size: 16px;
  color: #fff;
  width: 500px;
}

.banner-section .block-text p {
	padding: 4px 0;
	margin: 0;
	line-height: 1.6em;
}

.block-item {
  padding-bottom: 40px;
}

.block-item .block-title {
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 22px;
	text-transform: none;
}

.block-item .block-info {
	font-size: 14px;
}

.block-item .figure.pull-left {
	margin-right: 15px;
}

.block-item .figure img {
  width: 100%;
  border: 1px solid #fff;
}

.block-item .figure img:hover {
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
	opacity: .5;
	filter: alpha(opacity=.5);
}

.block-item .link-btn {
	display: inline-block;
	padding: 4px 12px 0;
	line-height: 25px;
	font-family: 'Titillium Web',sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	backface-visibility: hidden;
	webkit-backface-visibility: hidden;
	text-align: center;
  width: 86px;
}

.block-item .link-btn.white {
	border: 1px solid #fff;
	color: #fff;
}

.block-item .link-btn.white:hover {
	border: 1px solid transparent;
}

.block-item .link-btn.black {
	border: 1px solid #000;
	color: #000;
}

.block-item .link-btn.black:hover {
	border: 1px solid transparent;
}

#footer {
	min-height: 70px;
	background: #fff;
	padding-top: 25px;
}